<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Reset Password</title>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <script src="../js/jquery.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <style>
        body {
            background-color: #c9f1ff;
            text-align: center;
        }
    </style>
</head>

<body>

    <div style="background-color: #c9f1ff;">
        <br><br>       

        <h2>Reset password</h2> <br>
        <% if (locals.result_reset) { %>
            <div id="result_reset" style="color: rgb(168, 13, 13) "><%= result_reset %></div>
        <% } %>
        <br>
        <form method="post" action="/resetpassword">         

            <div class="contain-fluid">

                <h5>Your Email :
                    <input type="text" name="EmailReset" placeholder="Email" required>
                </h5><br>
              
                
            </div>

           
            <button> Done </button>
           
            <button onclick="alert('ต้องการยกเลิกการเปลี่ยนรหัสผ่านหรือไม่')"> cancel</button>
        </form>        
    </div>



</body>