<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Derunge</title>
	<link href="../css/bootstrap.min.css" rel="stylesheet">
	<script src="../js/jquery.min.js"></script>
	<script src="../js/popper.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<style>
		.btn {
			background-color: #0099ff;
			border-color: #0099ff;
			color: rgb(255, 255, 255);
			font-size: 19px;
			/*font-family : angsananew;*/
		}

		h3{
			text-align: center;
		}

	</style>
</head>

<body>

	<script src="js/head.js"></script>
	<div id="bsCarousel" class="carousel slide pt-5" data-ride="carousel">
		<ol class="carousel-indicators">
			<li data-target="#bsCarousel" data-slide-to="0"></li>
			<li data-target="#bsCarousel" data-slide-to="1"></li>
			<li data-target="#bsCarousel" data-slide-to="2"></li>
			<li data-target="#bsCarousel" data-slide-to="3" class="active"></li>
			<li data-target="#bsCarousel" data-slide-to="4"></li>
			<li data-target="#bsCarousel" data-slide-to="5"></li>
			<li data-target="#bsCarousel" data-slide-to="6"></li>
			<li data-target="#bsCarousel" data-slide-to="7"></li>
			<li data-target="#bsCarousel" data-slide-to="8"></li>
			<li data-target="#bsCarousel" data-slide-to="9"></li>
			<li data-target="#bsCarousel" data-slide-to="10"></li>
		</ol>
		<div class="carousel-inner">

			<div class="carousel-item ">
				<img class="d-block w-100" src="../img/aerti_silde.jpeg" alt="First slide">
			</div>
			
			<div class="carousel-item">
				<img class="d-block w-100" src="../img/creative_sild.jpg" alt="Second slide">
			</div>
			
			<div class="carousel-item">
				<img class="d-block w-100" src="../img/cheiron_silde.jpg" alt="Third slide">
			</div>
			
			<div class="carousel-item active">
				<img class="d-block w-100" src="../img/derunde_silde2.jpg" alt="fourd slide">
			</div>
			
			<div class="carousel-item">
				<img class="d-block w-100" src="../img/medical_silde.jpg" alt="fived slide">
			</div>
			
			<div class="carousel-item">
				<img class="d-block w-100" src="../img/accuniq_silde.jpg" alt="sixed slide">
			</div>
			
			<div class="carousel-item">
				<img class="d-block w-100" src="../img/Hadeco_silde.jpg" alt="sixed slide">
			</div>
			
			<div class="carousel-item">
				<img class="d-block w-100" src="../img/hugemed_silde.jpg" alt="sixed slide">
			</div>
			
			<div class="carousel-item">
				<img class="d-block w-100" src="../img/kawe_silde.jpg" alt="sixed slide">
			</div>
			
			<div class="carousel-item">
				<img class="d-block w-100" src="../img/ledspa_silde.jpg" alt="sixed slide">
			</div>
			
			<div class="carousel-item">
				<img class="d-block w-100" src="..//img/luxamed_silde.jpg" alt="sixed slide">
			</div>
			
			<a class="carousel-control-prev" href="#bsCarousel" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			</a>
			<a class="carousel-control-next" href="#bsCarousel" data-slide="next">
				<span class="carousel-control-next-icon"></span>
			</a>

	</div>
	



	<h3>โคมไฟส่องตรวจ</h3><br>

	<ul class="pagination justify-content-center">
		<li class="page-item disabled"><a class="page-link" href="#">Previous</a></li>
		<li class="page-item active"><a class="page-link" href="#">1</a></li>
		<li class="page-item"><a class="page-link" href="#">2</a></li>
		<li class="page-item"><a class="page-link" href="#">3</a></li>
		<li class="page-item"><a class="page-link" href="#">Next</a></li>
	</ul>
	
</body>